
.answer-quiz {
    padding: 2.5vw;
    display: flex;
    flex-direction: row;
    min-width: 95vw;
    min-height: 70vh;
}

.answer-quiz__question-container {
    flex: 1 0 60%;
    display: grid;
    grid-template-rows: repeat(3, minmax(1fr, 1));
    grid-template-columns: repeat(2, minmax(1fr, 1));
    gap: 1rem;
}

.answer-quiz__title {
    box-sizing: border-box;
    grid-area: 1 / 1 / span 1 / span 2;
    border-radius: 10px;
    border: 2px solid var(--dark-blue);
    margin: 1.5rem 3rem;
    background: var(--light-teal);
    padding: 2rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.answer-quiz__answer {
    background: var(--light-teal);
    box-sizing: border-box;
    margin: 1.5rem 3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.answer-quiz__answer:hover,
.answer-quiz__answer:focus {
    cursor:pointer;
}

.answer-quiz__answer:active {
    box-shadow: initial;
    transform:translateY(4px);
}

.answer-quiz__answer--true:disabled {
    background: var(--button-green);
    color: var(--dark-blue);
}

.answer-quiz__answer--false:disabled {
    background: var(--button-red);
    color: var(--dark-blue)
}

.answer-quiz__score-container {
    position: relative;
    flex: 1 0 20%;
    min-width: 20vw;
    max-width: 20vw;
    margin-left: auto;
    border: 2px solid var(--dark-blue);
    margin: 5rem 1rem;
    background: var(--light-teal);
    border-radius: 10px;
    padding: 2rem;
}

.answer-quiz__score-inner {
    position: relative;
}

.answer-quiz__svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
}

.answer-quiz__score-circle {
    transition: all 250ms ease-in-out;
}

.answer-quiz__score-score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    text-align: center;
    top: 85px;
    left: 0;
    right: 0;
    margin: auto;
}

.answer-quiz__score-percent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    margin: auto;
}


.answer-quiz__message-container {
    flex: 1 0 60%;
    background: var(--light-teal);
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    margin: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.answer-quiz__message {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-blue);
}

.answer-quiz__home-link {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-blue);
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.answer-quiz__home-link--button {
    background: none;
    border: none;
}

.answer-quiz__home-link:hover,
.answer-quiz__home-link:focus {
    transform: scale(1.1);
    color:green;
    cursor: pointer;
}



