/* Going to try BEM naming from here */


.new-quiz {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    overflow: scroll;
    max-height: 65vh;
    min-height: 65vh;
    padding: 2rem;
    margin: 3rem;
    gap: 2rem;
}

.new-quiz__quiz-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.new-quiz__input {
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}

.new-quiz__input--large {
    width: 25vw;
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
}

.new-quiz__input--medium {
    width: 20vw;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
    border-radius: 5px;
}

.new-quiz__input--small {
    width: 20vw;
    padding: 0.5rem 0.25rem;
    font-size: 0.8rem;
    border-radius: 4px;
    height: max-content;
}

/* All these styles are for some kind of hacky checkbox hack */

.new-quiz__checkbox {
    transition: all 100ms ease-in 50ms;
}

.new-quiz__checkbox::after {
    display: block;
    content: "Wrong";
    width: 4rem;
    height: min-content;
    opacity: 1;
    background: var(--button-red);
    padding: 0.1rem 0.2rem;
    text-align: center;
    border-radius: 3px;
}

.new-quiz__checkbox:hover {
    cursor: pointer;
}

/* .new-quiz__checkbox:active::after {
    
}

.new-quiz__checkbox:checked:active::after {
    
} */

.new-quiz__checkbox:checked {
    transform: translateX(calc(4rem + 0.4rem))
}

.new-quiz__checkbox:checked::after {
    content: "Right";
    background: var(--button-green);
}

/* CheckBox hack over */

.new-quiz__delete-button {
    border: none;
    background: var(--button-red);
    padding: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}